OPENAI_API_KEY=sk-proj-yl0Y...klucz-openai...
ANTHROPIC_API_KEY=sk-ant-...klucz-anthropic...
GEMINI_API_KEY=AIzaSy...klucz-gemini...


LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_pt_...langsmith-api-key...
LANGSMITH_PROJECT=pr-project-name